## editors
/.idea
# /.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## Certest para Live Server
/https/

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/
